<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_setting_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,42},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,80},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>l_botton-.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>level1-font.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,28},{146,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,24}}</string>
                <key>sourceSize</key>
                <string>{146,24}</string>
            </dict>
            <key>level1-img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{330,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,200}}</string>
                <key>sourceSize</key>
                <string>{330,200}</string>
            </dict>
            <key>level2-font.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{151,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,24}}</string>
                <key>sourceSize</key>
                <string>{151,24}</string>
            </dict>
            <key>level2-img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{330,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,200}}</string>
                <key>sourceSize</key>
                <string>{330,200}</string>
            </dict>
            <key>level3-font.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,80},{189,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,24}}</string>
                <key>sourceSize</key>
                <string>{189,24}</string>
            </dict>
            <key>level3-img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,200}}</string>
                <key>sourceSize</key>
                <string>{330,200}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{327,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,198}}</string>
                <key>sourceSize</key>
                <string>{327,198}</string>
            </dict>
            <key>r_botton.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,71},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,54},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,54},{91,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,24}}</string>
                <key>sourceSize</key>
                <string>{91,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_level.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ff93b3af21bd9c1fb56191746432ff8$</string>
            <key>textureFileName</key>
            <string>ui_level.png</string>
        </dict>
    </dict>
</plist>
